@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --navbar-height: 80px;
  --navbar-height-sm: 60px;
  --footer-height: 40px;
  --font-family-ar: "Almarai", sans-serif;
  --font-family-en: "Roboto", sans-serif;
  --color-black: #000;
  --color-black-1: #3e3e3e;
  --color-red: #ff2d2d;
  --color-white: white;
  --color-gray: #525252;
  --color-text: var(--color-black);
  --color-bg: var(--color-light-gray);
  --color-input: var(--color-white);
  --color-link: var(--color-blue);
  --color-bg-light-theme: #E5E4E7;
  --main-color:#ffd41a;
  --color-light-card-color: #f5f4f9;
  --color-text:#646262;
}
@mixin whiteShadow {
  border-radius: 0.8rem;
  border: 0.1rem solid #fafafa;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 0.1rem 0.1rem 1.8rem rgba(0, 0, 0, 0.25);
  }
}